html
  head
    title Someone applied your job
  body
    h1 Hi there,
    h2 you have a notification for #{jobTitle}

    p #{applicantName} is applied your job with jobId #{jobId}

    p If you didn't request this, please ignore this email.

    p Thanks,
    p The Quick-job Team


