html
  head
    title Your application is accepted
  body
    h1 Your application is accepted 

    p Hi there,

    p Your application for job #{jobTitle} is accepted!

    p If you didn't request this, please ignore this email.

    p Thanks,
    p The Quick-job Team


