html
  head
    title Reset Password
  body
    h1 Password Reset
    p Hi there,

    if isForgotPass
      p Here is your forgotten password recovery code: 
      h2 #{token}
    else
      p Here is your password reset code: 
      h2 #{token}

    p If you didn't request this, please ignore this email.

    p Thanks,
    p The Quick-job Team
