html
  head
    title This email is verified in Quick-job
  body
    h1 This email is verified in Quick-job
    p Hi there,

    p Your account has been verified by Quick-job Team.

    p Thanks,
    p The Quick-job Team

