html
  head
    title This email is verified changing email in Quick-job
  body
    h1 This email is verified changing email in Quick-job
    p Hi there,

    h2 Your verification token is:
    h1 #{token}

    p Thanks,
    p The Quick-job Team

