html
  head
    title Your password is changed.
  body
    h1 Your password is changed.
    p Hi there,

    p Your password is changed at #{time}.

    p If you didn't request this, please contact with Quick-job Team to receive your support.

    p Thanks,
    p The Quick-job Team
